@font-face {
    font-family: FontTinhYeu;
    src: url(//Events/1Year/VietTay/iCiel\ Finch\ Bold.otf);
}

@font-face {
    font-family: FontChuKy;
    src: url(//Events/1Year/VietTay/NVNFunkySignature-Regular.ttf);
}


* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ef3e4a;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.50rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
} */
hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 5px auto;
}

h1 {
    font-weight: 500;
}

p {
    margin-bottom: 1.15rem;
    font-size: 1em;
}

#navbar {
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: -50px;
    right: 10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #111;
    display: block;
    transition: top 0.3s;
    z-index: 2;
}

#navbar i {
    color: red;
    font-size: 30px;
    margin: 10px auto;
    animation: HieuUng1 1s infinite;
}

.menu {
    display: none;
    position: fixed;
    background-color: #fff;
    right: 0px;
    margin: auto 5px;
    width: calc(100% - 20px);
    height: 60px;
    border-radius: 35px;
    transition: top 0.3s;
    animation: Menu 0.5s running;
    z-index: 1;
}

.Grid {
    height: 36px;
    padding: 12px 0;
    text-align: center;
    color: #111;
    display: grid;
    grid-template-columns: 60px auto 60px;
    gap: 5px;
}

.Grid i {
    font-size: 32px;
}

.Grid h1 {
    margin-top: 2px;
    font-size: 20px;
}

#MenuMuic {
    display: none;
}

.Card {
    padding: 20px;
    height: 100vh;
    width: calc(100% - 40px);
}

/* Thứ tự */
.One {
    background-color: #DC419B;
    background: linear-gradient(#ef3e4a 0%, #ef3e4a 100%);

}

.Two {
    display: none;
    background-image: url(/DaysLove/Hành-Trình/img/WallPubg.png);
    background-size: cover;
    color: #fff;
}

.Three {
    display: none;
    background: linear-gradient(#ef3e4a 0%, #ff8fb2 50%, rgb(167, 151, 255) 75%, rgb(0, 229, 255) 100%);
    color: #111;
}

.Four {
    display: none;
    background: linear-gradient(#00e5ff 0%, #051937 100%);
    color: #111;
}

.Five {
    display: none;
    color: white;
    background-image: linear-gradient(to bottom, #051937 10%, #5a2f61, #b14168, #ef7050, #fdbb2d);
}

.Six {
    display: none;
    color: black;
    background-image: linear-gradient(to bottom, #fdbb2d, #ffb261, #ffb08c, #ffb5b1, #ffc0cb);
}

.Seven {
    height: 140vh;
    display: none;
    background-image: linear-gradient(to bottom, #ffc0cb, #fcd0e2, #f8e1f3, #ffc0cb, #ffc0cb);

}


.center {
    text-align: center;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #fff;
}

.btn:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}

.pnote {
    font-size: 12px;
    color: rgb(39, 39, 39);
}

.picon {
    font-size: 100px;
}

.GroupOne {
    background-image: url(/DaysLove//Hành-Trình/img/animation1.gif);
    background-size: auto;
    color: aliceblue;
    display: grid;
    grid-template-rows: 50px 150px 280px 50px auto;
}

.GroupFive,
.GroupSix,
.GroupSeven {
    text-align: center;
}

.GroupSeven {
    position: relative;
}

.DaysLove {
    margin: 80px 0 10px 0;
}

.DaysLove h1 {
    font-size: 50px;
    font-family: FontNumber;
}

.ContentLove {
    font-size: 30px;
    font-family: FontTinhYeu;
    z-index: 3;
}

#HunqD {
    margin: 10px auto;
    font-family: FontChuKy;
    font-weight: 700;
}

@keyframes HieuUng1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.h3 h3 {
    padding: 10px;
    color: #fff;
    background-color: #ef3e4a;
    border-radius: 10px;
}

#CauNoi {
    animation: Ani1 2s;
    animation-play-state: paused;
}

.Content {
    animation: Fade 2s;
}

.Content h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.Content h5 {
    margin-bottom: 5px;
}

.Content img {
    width: 90px;
    border: 2px solid black;
    border-radius: 10px;
}

.img {
    margin: 20px auto;
}

.img img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid blanchedalmond;
    animation: BottomToTop 2s;
}

.imgWinner img {
    margin-top: 20px;
    width: 150px;
    animation: Zoom 3s;
    animation-play-state: paused;
}

.video {
    margin: 20px auto;
}

.video video {
    width: 100%;

    border-radius: 25px;
    border: 2px solid blanchedalmond;
}

#meme1 {
    animation: BottomToTop 3s;
    animation-play-state: paused;
}

.Play {
    text-align: center;
    animation: Fade 3s;
}

.Play img {
    width: 120px;
}

.Play img:hover {
    animation: Play 2s alternate;

}



.Reti {
    position: relative;
    width: 100%;
    max-width: 100%;
}

#AirDrop {
    position: absolute;
    top: 350px;
    right: -15px;
    animation: AirDrop 3s;
    animation-play-state: paused;

}

#AirDrop img {
    width: 120px;
}

#DayLove {
    margin: 20px auto;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px #101010b4,
        1px 22px 10px #10101033,
        1px 25px 35px #10101033,
        1px 30px 60px #10101066;

    animation: Play 1s infinite;
}




@keyframes BottomToTop {
    0% {
        margin-left: -100px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes Ani1 {
    0% {
        margin-left: -400px;
        margin-right: 400px;
    }

    50% {
        margin-left: -400px;
        margin-right: 400px;
    }

    100% {
        margin-left: 0px;
    }
}


@keyframes Zoom {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes AirDrop {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Play {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Menu {
    0% {
        width: 60px;
    }

    50% {
        width: 60px;
    }

    100% {
        width: calc(100- 10px);
    }
}

@keyframes Menu2 {
    0% {
        width: calc(100- 10px);
    }

    50% {
        width: 60px;
    }

    100% {
        width: 60px;
    }
}

.VjpPro1 {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

}

.VjpPro1  .imgHunqD {
    /* transform: rotate(-5deg); */
    width: 100%;
    border-radius: 10px;
    border: 2px solid #00e5ff;
    box-shadow: -9px 12px 32px 2px #000000ab;
    animation: HunqD 0.5s;
    animation-play-state: paused;
    margin: auto;
}

@keyframes HunqD {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
    }
}
.imgVJP {
    width: 100%;
}
.VjpPro1  .imgSwBun {
    /* transform: rotate(10deg); */
    margin: auto;
    width: 80%;
    border-radius: 10px;
    border: 2px solid pink;
    box-shadow: -9px 12px 32px 2px #000000ab;
    animation: SwBun 0.5s;
    animation-play-state: paused;
}

@keyframes SwBun {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.VjpPro2 .VideoVjp video {

    width: 100%;
    border-radius: 15px;
    margin: 20px auto;
    border: 2px solid greenyellow;
    box-shadow: -9px 12px 32px 2px #000000ab;
    animation: VideoVjpPro 1.5s;
    animation-play-state: paused;
}

@keyframes VideoVjpPro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#hrVjp {
    margin: 20px  auto ;
    width: 192px;
    height: 1px;
    animation: HrVjpPro 0.5s;
    animation-play-state: paused;
}

@keyframes HrVjpPro {
    0% {
        width: 0px;
    }

    100% {
        width: 192px;
    }
}

.HunqD {
    display: none;
    background-color: #ffc0cb;
}
.VjpGrid {
    display: grid;
    grid-template-rows: auto auto;
}
#noteVJP {
    display: none;
}