* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(219, 219, 219);
}



header {
    text-align: center;
    background-color: #fff;
    height: 300px;
    margin-bottom: 80px;
}
header img {
    height: 100%;
}

.Card {
    background-color: #fff;
    width: calc(100% - 440px);
    margin: 20px 200px;
    padding: 30px 50px;
    border-radius: 5px;
}
.Card hr {
    background-color: #111;
    height: 2px;
    border: none;
    margin: 10px 0 10px 0;
}
.Card h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}
.Card h2 {
    font-size: 20px;
}
.Card .DichVu {
    margin: 15px 0 20px 0;
    border-radius: 10px;
    background-color: #e2e2e2;
    padding: 10px;
}
.Card .DichVu .Head {
    display: grid;
    grid-template-columns: 80% 20%;
    color: #fff;
    background-color: #111;
    padding: 6px 10px;
    margin-bottom:5px ;
    border-radius: 5px;
}

.Card .DichVu .Restone {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    height: 24px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin: auto;
}
.Card .DichVu .Restone:hover {
    cursor: pointer;
    color: #fff;
    background-color: red;
}
.Card .DichVu .Note {
    padding-left: 10px;
}


.Card input[type=text] {
    font-size: 25px;
    width: calc(100% - 10px);
    height: 35px;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 0 5px;
}

.Card input[type=number] {
    font-size: 25px;
    width: calc(100% - 10px);
    height: 35px;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 0 5px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    margin: 5px 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}





.Card .Note {
    font-size: 12px;
    color: #111;
}

.Card .BTN {
    color: #fff;
    background-color: #222;
    font-size: 20px;
    width: 100%;
    height: 35px;
    margin: 20px 0;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}

.hide {
    display: none;
}
.Info {
    text-align: center;
}

.Card +.Bill {
    text-align: center;
    display: block !important;
}
.Card +.Bill h5 {
    margin: 5px 0;
}

.Card +.Bill .Logo img {
    width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tr:first-child {
    font-weight: bold;
  }
  td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eee;
  }


@media only screen and (max-width: 600px) { 
    header {
        height: 200px;
        margin-bottom: 15px; 
    }
    
    .Card h1 {
        font-size: 20px;
    }

    .Card {
        background-color: #fff;
        width: calc(100% - 40px);
        margin: 10px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    .Card .DichVu .Head {
        display: grid;
        grid-template-columns: 75% 25%;
    }
}


