.container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

button {
	padding: 10px 20px;
	background-color: #0077FF;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}

button:hover {
	background-color: #0055CC;
}

#da-diem-danh {
	margin-top: 20px;
	font-size: 18px;
}
