@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Wix+Madefor+Display:wght@500&display=swap');

:root {
    --BodyCL: #ffffff;
    --HeadCL: #ff2655;


    --BodyBG: #ffc0cb;
    --TabBG: #111111;
    --CardBG: #111111;
    --CardMusic: #11111175;
    --CardBGHV: #2e2e2e;
    --StoryBG: #fa7f7f;
    --NewPost: #ff2655;
    --ButtonBG: #ff2655;
    --InputBG: transparent;

    --Male: rgb(0, 119, 255);
    --Female: #ff314d;

    --FeedCL: #fff;
    --FeedBG: #111;

    --Translate: #eee;
}

.dark-mode {
    --BodyBG: #000;
    --TabBG: #2e2e2e;
    --CardBG: #1c1c1c;
    --StoryBG: #ff2655;
    --Translate: #919191;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    touch-action: manipulation;
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--BodyCL) !important;
    background-color: var(--BodyBG);
    z-index: -2;
}

.Info .Avatar img,
header .HeadApp h1,
.Num,
.DaysLove {
    cursor: url('/Data/IMG/Cur/cus.cur'), auto !important;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    background-color: transparent;
}

::-webkit-scrollbar {
    height: 8px;
    width: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--ButtonBG);
}

#navbar {
    cursor: pointer;
    color: var(--BodyCL);
    background-color: var(--HeadCL);

    position: fixed;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s;

    z-index: 2;
    animation: HieuUngnavbar 1s;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes HieuUngnavbar {
    0% {
        bottom: -50px;
    }

    100% {
        bottom: 15px;
    }
}


.menu {
    display: block;
    position: fixed;
    bottom: -100px;
    padding: 5px 10px;
    margin: auto 0;
    width: 100%;
    border-radius: 20px;
    transition: bottom 0.3s;
    z-index: 1;
    box-sizing: border-box;
}



.Load {
    text-align: center;
}

.Load button {
    color: var(--BodyCL);
    font-size: 18px;
    width: 80px;
    height: 30px;
    background-color: var(--ButtonBG);
    border-radius: 10px;
    border: none;
}

.Block {
    display: block !important;
}


.Tab {
    background-color: var(--TabBG);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    overflow: auto;
    padding: 4px;
    border-radius: 20px;
}


.Tab .tablinks {
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}

.Tab .tablinks.landscape {
    display: none;
}

.Tab .tablinks.landscape.MUSIC {
    background-color: var(--CardBG);
}

.Tab .tablinks i {
    color: var(--HeadCL);
    font-size: 20px;

}

.Tab .tablinks img {
    width: 70%;
}

.Tab .tablinks.active {
    background-color: var(--ButtonBG);
}


.Tab .tablinks.active i {
    color: var(--BodyCL);
}


.tabcontent {
    display: none;
    padding-bottom: 30px;
    min-height: 100vh;
}

.tabcontent img {
    max-width: 100%;
    height: auto;
}

.tabcontent.show {
    display: block;

}

#Home {
    position: fixed;
    width: 100%;
    height: 100vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Home .IMGBG {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 0px);
    background-image: url(/Data/Wallpaper/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.BlockHead {
    padding: 10px;
}

.NewPost {
    max-height: 200px;
    padding: 10px 20px;
    background-color: var(--NewPost);
    border-radius: 30px;
}

.NewPost .excerpt-audio-block {
    display: none;
}

.NewPost h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.NewPost p {
    margin-bottom: 10px;
}

.NewPost p:last-child {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0;
}


.CardCouple {
    width: 100%;
    margin: 20px 0;
    display: block;
}


.DaysLove {
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
    text-shadow: 2px 2px 2px var(--BodyBG);
    animation: heart 1.2s infinite alternate;
}

@keyframes heart {
    0% {
        scale: 0.9;
        text-shadow: 2px 2px 2px var(--BodyBG);
    }

    100% {
        text-shadow: 0px 0px 10px var(--HeadCL);
    }
}

.DaysLove #DaysLove {
    color: var(--HeadCL);
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 80px;
    text-align: right;
}

.DaysLove .Grid {
    margin: 20px 0 5px 0;
    display: grid;
    grid-template-rows: 40% 60%;
}

.DaysLove .Grid .DGrid {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.DaysLove .Grid .DGrid:first-child img {
    color: #ff2655;
    width: 30px;
    margin: 0 0 0 10px;
    animation: heart2 1.2s infinite alternate;
}

@keyframes heart2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

.DaysLove .Grid .DGrid:last-child {
    color: #ff6b8b;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.DaysLove2 {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    margin: 20px auto;
    padding: 0 20px;
}

.DaysLove2 .Num {
    margin: auto;
    background-color: var(--HeadCL);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px var(--CardBG);
}

.unit {
    font-size: 12px;
    display: block;
}

.number {
    display: block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

.Couple {
    position: absolute;
    bottom: 80px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Couple .Heart {
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding-bottom: 30px;
    width: 60px;
}

.Couple .Heart.large {
    transform: scale(1.6);

}

.Heart {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Heart.large {
    transform: scale(2);
    animation: large 1.2s infinite;
}

@keyframes large {
    0% {
        opacity: 0.8;
    }
}

.Couple .Heart img {
    width: 40px;
    animation: heart3 1.2s infinite alternate;
}

@keyframes heart3 {
    0% {
        scale: 1.2;
        opacity: 0.8;
    }
}

.Couple .Info {
    width: 150px;
}

.Couple .Info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ff2655;
}

.Info.Male .Name {
    color: var(--Male);
    text-shadow: 0px 2px 10px var(--Male);
}

.Info.Female .Name {
    color: var(--Female);
    text-shadow: 0px 2px 10px var(--Female);
}

.Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Info .Age {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    width: 70px;
    padding: 3px 0;
    margin: 5px auto;
    border-radius: 20px;
}


.Info.Male .Avatar img {
    border: 3px solid var(--Male);
    box-shadow: 0px 0 40px 10px var(--Male);
}

.Info.Male .Age {
    background-color: var(--Male);
    box-shadow: 0px 0 10px 2px var(--Male);
}

.Info.Female .Avatar img {
    border: 3px solid var(--Female);
    box-shadow: 0px 0 40px 10px var(--Female);
}

.Info.Female .Age {
    background-color: var(--Female);
    box-shadow: 0px 0 10px 2px var(--Female);
}

#rss-feed {
    padding: 10px;
    padding-bottom: 50px;
}

.Feed {
    color: var(--FeedCL);
    background-color: var(--FeedBG);
    margin-bottom: 10px;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}

.Feed:first-child {
    margin-top: 0;
}

.Feed:last-child {
    margin-bottom: 0;
}

.Feed.Active {
    background-color: #252525;
}

.Head .Author {
    display: grid;
    grid-template-columns: 60px auto 30px;
    gap: 2px;
}

.Head .Author .Avatar {
    text-align: center;
}

.Head .Author .Avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Head .Author .Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Head .Author .Info .Time {
    font-size: 14px;
}

.Head .Author .Func.Translate {
    display: none !important;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Head .Author .Func.Translate button {
    border: none;
    border-radius: 10px;
}

.Head .Author .Func.Translate button img {
    display: block;
    height: 25px;
    width: 30px;
}

.Head .Author .Func.Translate button:first-child {
    background-color: #d80027;
}

.Head .Author .Func.Translate button:last-child {
    background-color: #f0f0f0;
}

.Head .Author .Func.Share {
    text-align: center;
    padding-top: 5px;
}

.Head .Author .Func.Share i {
    font-size: 20px;
}

.wp-block-video video,
 .wp-block-video{
    max-width: 100%;
    margin: 5px 0 0 0;
}

.Body .Status {
    padding: 5px;
}

.Body .Status h1 {
    font-size: 20px;
    margin-bottom: 2px;
}

.ContentTranslate {
    border-left: 2px solid var(--Translate);
    color: var(--Translate);
    padding-left: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ContentTranslate b {
    font-size: 18px;
}

.figure {
    margin: 5px 0;
}

.Body .Status img,
.Body .Status video {
    width: auto;
    max-height: 500px;
    border-radius: 10px;
    border: 2px solid var(--BodyBG);
    box-sizing: border-box;
}

.Body .Status video {
    background-color: var(--BodyBG);
}


.Body .Status .Content .wp-smiley {
    border: none;
}

.Status .wp-block-gallery {
    column-count: 3 !important;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    gap: 10px;
    margin: 5px 0;
}

.Status .wp-block-image {
    margin: 5px 0;
}

.Status .wp-block-gallery .wp-block-image {
    margin: 0 auto;
    text-align: center;
}


.tabcontent .head {
    font-size: 22px;
    text-align: center;
    color: var(--HeadCL);
    margin-bottom: 10px;
}

.Event {
    padding: 0 10px 20px 10px;
}

.Event a {
    text-decoration: none;
}

.Event .Comming {
    background-image: url(/Events/Kiss.png);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--ButtonBG);
    height: 200px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: left;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 3px solid var(--BodyCL);
}

.Event .HeadComing {
    text-align: left;
    color: var(--BodyCL);
    background-color: #1b1b1bd5;
    border: 3px solid var(--BodyCL);
    border-left: 0;
    padding: 5px 10px 10px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Event .HeadComing h1 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.Event .HeadComing p p:first-child {
    font-size: 14px;
    font-weight: bold;
}

.Event .HeadComing p p:last-child {
    font-size: 12px;
}

.Event .Upnext {
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--CardBG);
    box-sizing: border-box;
    margin: 5px 0;
    border-radius: 10px;
    padding: 8px;
}

.Event .Upnext .Content {
    color: var(--BodyCL);
    text-shadow: 5px 4px 8px black, 0 2px 5px black;
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.Event .Upnext .Countdown {
    background-color: #000000b0;
    height: 60px;
    min-width: 60px !important;
    padding: 0 8px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.Event .Upnext .Countdown h1 {
    font-size: 25px;
}

.Event .Upnext h1 {
    font-size: 24px;
}

.Event .Upnext p {
    font-size: 14px;
    font-weight: bold;
}

.TimeNow {
    display: none;
}

#EventComingUp {
    color: #646464;
    font-size: 12px;
    margin-top: 10px;
    border-right: 2px solid #646464;
    padding-right: 5px;
    margin-bottom: 2px;
}


.oled-mode #Home .IMGBG {
    filter: opacity(0.0) !important;
}

.oled-mode #navbar {
    color: #ffffff !important;
    background-color: #000 !important;
    animation: none !important;
}

.oled-mode .NewPost {
    color: #646464;
    background-color: #000;
}

.oled-mode .NewPost:hover {
    color: #ffffff;
}

.oled-mode .NewPost h1 {
    font-size: 16px;
}

.oled-mode .NewPost p:last-child {
    display: none;
}

.oled-mode .DaysLove {
    animation: none !important;
}

.oled-mode .DaysLove #DaysLove {
    color: #ffffff;
    text-shadow: none !important;
}

.oled-mode .DaysLove .Grid .DGrid:last-child {
    color: #646464;
}

.oled-mode .DaysLove .Grid .DGrid:first-child img {
    display: none;
    animation: none;
}

.oled-mode .DaysLove2 .Num {
    color: #eeeeee;
    background-color: #000;
    box-shadow: none;
}

.oled-mode .DaysLove2 .unit {
    color: #646464;
}

.oled-mode .Info .Avatar img {
    box-shadow: none !important;
}

.oled-mode .Info.Male .Avatar img {
    border-color: #1c67c2 !important;
}

.oled-mode .Info.Female .Avatar img {
    border-color: #aa2839 !important;
}

.oled-mode .Couple .Heart img {
    width: 20px;
    animation: none;
}

.oled-mode .Info .Age {
    background-color: #000 !important;
    box-shadow: none !important;
}

.oled-mode .Info .Name {
    text-shadow: none;
}

.oled-mode .Info.Female .Age {
    font-size: 12px;
    color: var(--Female);
}

.oled-mode .Info.Male .Age {
    font-size: 12px;
    color: var(--Male);
}

.oled-mode .BlockHead {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
}

.oled-mode .TimeNow {
    color: #ffffff;
    display: block;
    text-align: right;
    padding-right: 10px;
    text-shadow: none;
}


@media screen and (orientation:landscape) {
    #navbar {
        left: auto;
        right: 0;
    }

    .Tab {
        width: 250px;
        margin-left: auto;
    }

    .Tab .tablinks.landscape {
        display: block;
    }

    .BlockOne {
        display: block;
        margin: auto 0;
    }

    .BlockTwo {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .CardCouple {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

    .Couple {
        position: unset;
    }

    .tabcontent {
        padding: 0 180px 50px 180px;
    }

    .tabcontent#Home {
        padding: 0;
    }

    #Home .IMGBG {
        filter: opacity(0.8);
        background-position: 50% 45%;
    }

    .oled-mode.dark-mode #Home .IMGBG {
        filter: opacity(0.0);
    }

    .oled-mode.dark-mode {

        #navbar {
            color: #ffffff !important;
            background-color: #000 !important;
            animation: none !important;

        }

        .NewPost {
            color: #646464;
            background-color: #000;
        }

        .NewPost:hover {
            color: #ffffff;
        }

        .NewPost h1 {
            font-size: 16px;
        }

        .NewPost p:last-child {
            display: none;
        }

        .DaysLove {
            animation: none !important;
        }

        .DaysLove #DaysLove {
            color: #ffffff;
            text-shadow: none !important;
        }

        .DaysLove .Grid .DGrid:last-child {
            color: #646464;
        }

        .DaysLove .Grid .DGrid:first-child img {
            display: none;
            animation: none;
        }

        .DaysLove2 .Num {
            color: #eeeeee;
            background-color: #000;
            box-shadow: none;
        }

        .DaysLove2 .unit {
            color: #646464;
        }

        .Info .Avatar img {
            box-shadow: none !important;
        }

        .Info.Male .Avatar img {
            border-color: #1c67c2 !important;
        }

        .Info.Female .Avatar img {
            border-color: #aa2839 !important;
        }

        .Couple .Heart img {
            width: 20px;
            animation: none;
        }

        .Info .Age {
            background-color: #000 !important;
            box-shadow: none !important;
        }

        .Info .Name {
            text-shadow: none;
        }

        .Info.Female .Age {
            font-size: 12px;
            color: var(--Female);
        }

        .Info.Male .Age {
            font-size: 12px;
            color: var(--Male);
        }

        .BlockHead {
            display: grid;
            grid-template-columns: auto auto;
            max-width: 100%;
        }

        .TimeNow {
            color: #ffffff;
            display: block;
            text-align: right;
            padding: 20px;
            padding-right: 30px;
            text-shadow: none;
        }
    }

}

.Language {
    width: 100%;
    padding: 10px;
    display: flex;
}

.Language .LangSelect {
    display: flex;
    gap: 10px;
    margin: auto;
}

.Language .IconMenu img {
    width: 100%;
    height: 30px;
}



.player {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: var(--CardBG);
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: flex-start;
    top: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid var(--CardBG);
    border-radius: 10px;
}

.dashboard.active {
    height: 100vh;
}

.dashboard header h4 {
    font-size: 12px;
}

.dashboard header h2 {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--ButtonBG);
}

.Block.A {
    display: block;
    width: 100%;
}

.dashboard .BlockDashboard {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 10px;
    margin-bottom: 10px;
}

.Live {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.Live .LiveBTN {
    cursor: pointer;
    color: var(--BodyCL);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--BodyBG);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.Live .LiveBTN i {
    font-size: 10px;
}

.Live .LiveBTN.active {
    background-color: var(--ButtonBG);
}

.Live #LiveNoti {
    font-weight: bold;
    margin: 3px;
}

.Live button {
    margin: 2px 0;
    cursor: pointer;
    color: var(--BodyCL);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--BodyBG);
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 0 10px;
}

.Live button.active {
    background-color: var(--ButtonBG);
}

.CDBlock {
    display: block;
    align-items: center;
}

.cd {
    width: 80px;
}

/* .player.playing .cd-thumb {
    box-shadow: 0 0 0 2px var(--ButtonBG);
} */
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    background-color: var(--BodyBG);
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.control .btn {
    cursor: pointer;
    color: var(--BodyCL);
    padding: 12px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--ButtonBG);
}

.control .btn-toggle-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: var(--BodyCL);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ButtonBG);
}


.progress {
    cursor: pointer;
    width: 100%;
    appearance: none;
    height: 10px;
    background: var(--BodyBG);
    outline: none;
    border-radius: 8px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--ButtonBG);
    cursor: pointer;
}

.lyrics {
    display: none;
    width: 100%;
    height: 60%;
    position: relative;
    background-color: var(--TabBG);
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    padding: 10px;
    padding-bottom: 60px;
    margin-top: 10px;
    font-size: 18px;
    bottom: 0;
}

.lyrics::-webkit-scrollbar-track {
    cursor: pointer;
    background-color: var(--CardBG);
}

.lyrics p {
    margin: 5px 0;
}

/* PLAYLIST */
.playlist {
    margin-top: 260px;
    padding: 12px 12px 60px 12px;
}

.Album {
    margin-top: 400px;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 5px 0;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    white-space: nowrap;
    /* Ngăn chữ xuống dòng */
}

.Album button {
    cursor: pointer;
    flex: 1;
    /* Thay đổi width thành flex */
    text-transform: capitalize;
    color: var(--BodyCL);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--CardBGHV);
    border-radius: 5px;
    border: none;
    margin: 0 2px;
    padding: 10px 20px;
}

.Album .album-btn.active {
    background-color: var(--ButtonBG);
}


.song {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--CardMusic);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgb(0, 0, 0);
}

.song.active {
    background-color: var(--ButtonBG);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    text-transform: capitalize;
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    font-size: 20px;
}

.song .option a {
    color: var(--BodyCL);
}

.Setting {
    position: relative;
    width: 100%;
    padding: 20px;
}

.Setting .HeadSetting {
    display: block;
    background-color: var(--CardBGHV);
    background-image: url(/Data/IMG/DaysLove.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.Setting .toggle-switch {
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: var(--CardBGHV);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.Setting .switch {
    position: absolute;
    top: 1px;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.Setting .toggle-switch.on {
    background-color: var(--ButtonBG);
}

.Setting .toggle-switch.off .switch {
    transform: translateX(2px);
}

.Setting .toggle-switch.on .switch {
    transform: translateX(20px);
}

.Setting .modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--CardBG);
}

.Setting .modal-content {
    background-color: var(--CardBG);
    padding: 20px;
    width: 100%;
    max-height: 100vh;
    border-radius: 10px;
}

.Setting .modal-content .Head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Setting .modal-content .Head span {
    font-size: 30px;
}

.Setting .Wallpaper {
    border-radius: 10px;
    height: calc(90vh - 200px);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    overflow: auto;
}

.Setting .Wallpaper .IMG {
    overflow: hidden;
    /* Ẩn nội dung tràn ra khỏi khung hình */
    position: relative;
    height: 200px;
    width: 100%;
    background-color: var(--CardBG);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1);
}

.Setting .Wallpaper .IMG.Active {
    border: 3px solid var(--ButtonBG);
    filter: brightness(1);
}

.Setting .Wallpaper .IMG img {
    border-radius: 10px;
    display: block;
    height: auto;
}

.Setting .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Setting .close:hover,
.Setting .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Setting .ListSetting {
    margin-top: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.Setting .ListSetting:nth-child(2) {
    margin-bottom: 30px;
}

.Setting .Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--CardMusic);
    padding: 10px;
    border-bottom: 1px solid var(--BodyBG);
}

.Setting .Item:last-child {
    border: none;
}

.Setting .Item #toggle-button {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
}

.Setting .Item label {
    font-size: 16px;
    text-align: center;
    display: block;
}

.Setting .Item button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #6b6b6b;
    background-color: transparent;
    border: none;
}

.Setting .Item button span {
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 600;
}

.Setting .UploadWallpaper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

.file-input__input {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    width: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 30px 12px;
    margin: auto;
    background-color: var(--ButtonBG);
}

.file-input__label i {
    font-size: 30px;
}

.ButtonBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ButtonBlock button {
    display: block;
    height: 100%;
    color: var(--BodyCL);
    background-color: var(--BodyBG);
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;

}

.ButtonBlock button:last-child {
    background-color: var(--BodyBG);
}



.attendance {
    text-align: center;
    margin-top: 50px;
    background-color: var(--CardMusic);
    padding: 20px;
    margin: 0 auto;
}

.attendance h1 {
    font-size: 22px;
}

.attendance #date {
    margin-bottom: 10px;
}

.attendance button {
    background-color: var(--ButtonBG);
    color: var(--BodyCL);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.attendance #history {
    margin-top: 10px;
    text-align: left;
}

.attendance #history h3 {
    margin-bottom: 10px;
    color: #333;
}

.attendance #history p {
    margin: 5px 0;
    color: #666;
}


@media screen and (orientation:landscape) {
    .tabcontent#Music {
        padding: 0;
    }

    .player {
        position: relative;
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
    }

    .dashboard {
        padding: 20px;
        position: fixed;
        display: block;
        height: 100vh;
        width: 40%;
        z-index: 0;
    }

    .playlist {
        display: block;
        margin: 0;
        margin-left: 100%;
        right: 0;
        width: 150%;
    }

    .lyrics {
        display: block;
        bottom: 0;
        width: 100%;
    }

}

audio::-webkit-media-controls-panel {
    background-color: var(--ButtonBG);
    text-shadow: none;
    box-shadow: none;
}

audio {
    width: 100%;
    box-shadow: none !important;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    text-shadow: none !important;
    font-weight: 500;
}

/* Ẩn modal mặc định */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Hiển thị ảnh trong modal */
.modal-content {
    border-radius: 10px;
    margin: 80px auto auto auto;
    display: block;
    max-width: 95%;
    max-height: 100%;
}

/* Đóng modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
/* Thêm kiểu dáng cho chữ caption */
.caption {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa ảnh và chữ caption */
}

.wp-element-caption {
  font-size: 10px;
  text-align: center;
}
