:root {
    --background: #eee;
    --color: #000;

    --Sad: rgb(138, 138, 138);

    /* DL = DayLove */
    --DLbackground: #0000001e;

    --Line:#ffcc00;
    --Light:#fff;
    
    --CardBG: #fff;
    --SCardIMG: var(--background);
}

.darkmode {
    transition: 0.8s;
    --background: #111;
    --color: #eee;

    --DLbackground: #ffffff1e;

    --Line:#230075;
    --Light:#ffffff;

    --CardBG: #000;
    --SCardIMG: var(--background);
}

* {
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--color);
    transition: 0.8s;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/Data/IMG/Background/BG4.jpg);
    background-size: cover;
}




.PageLoad .centered {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    z-index: 99;
}

.PageLoad .blob-1,
.PageLoad .blob-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PageLoad .blob-1 {
    color: red;
    padding: 5px;
    left: 20%;
    animation: osc-l 2.5s ease infinite;
}

.PageLoad .blob-1 h1 {
    font-size: 40px;
    margin: 7px 0;
}

.PageLoad .blob-2 {
    left: 80%;
    animation: osc-r 2.5s ease infinite;
    background-color: pink;
    background-image: url(/Data/IMG/LoadPage.png);
    background-size: cover;
}

@keyframes osc-l {
    0% {
        left: 20%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 20%;
    }
}

@keyframes osc-r {
    0% {
        left: 80%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 80%;
    }
}


@keyframes bubbleUp {
    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -25vh) scale(2);
    }
}

@keyframes oscillate {
    50% {
        transform: translateX(-12.5vw) rotate(-25deg);
    }
}
.tabMenu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0px 0px 2px #333;
}

.tabMenu button {
    color: var(--color);
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabMenu button.active:nth-child(1) {
    color: red;
    border-top: 3px solid red;
}

.tabMenu button.active:nth-child(2) {
    color: #965821;
    border-top: 3px solid #965821;
}

.tabMenu button.active:nth-child(3) {
    color: #ff3333;
    border-top: 3px solid #ff3333;
}

.tabMenu button.active:nth-child(4) {
    color: #00ff6a;
    border-top: 3px solid #00ff6a;
}
.tabMenu button.active:nth-child(5) {
    color: pink;
    border-top: 3px solid pink;
}


.tabcontent {
    display: none;
}

#DaysLove {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

#DaysLove .IMGCouple img {
    width: 100%;
    margin-top: -35px;
    
}


#DaysLove .card {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
   
}

#DaysLove .card .percent {
    position: relative;
}

#DaysLove .card svg {
    background-color: var(--DLbackground);
    border-radius: 50%;
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(-90deg);
}

#DaysLove .card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #636363;
    stroke-width: 4;
    stroke-linecap: round;
}

#DaysLove .card svg circle:last-of-type {
    stroke-width: 8;
}

#DaysLove .card svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: pink;
}

#DaysLove .card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#DaysLove .card .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

#DaysLove .card .number h3 span {
    font-size: 2rem;
}

#DaysLove .card .title h2 {
    margin: 25px 0 0;
}

#DaysLove .card:nth-child(1) svg circle:last-of-type {
    stroke: var(--Sad);
}


#DaysLove .bubbling-heart div {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25vh) scale(0);
    opacity: 0;
    animation: bubbleUp 2s infinite;
}

#DaysLove .bubbling-heart div .fa {
    transform: translateX(12.5vw) rotate(25deg);
    animation: oscillate 4s ease-in-out infinite;
    color: red;

}

#DaysLove .bubbling-heart div:nth-child(2) {
    animation-delay: 0.5s;
}

#DaysLove.bubbling-heart div:nth-child(2) .fa {
    color: pink;
    animation-delay: 1s;
}

#DaysLove .bubbling-heart div:nth-child(3) {
    animation-delay: 1s;
}

#DaysLove .bubbling-heart div:nth-child(3) .fa {
    color: red;
    animation-delay: 2s;
}

#DaysLove .bubbling-heart div:nth-child(4) {
    animation-delay: 1.5s;
}

#DaysLove .bubbling-heart div:nth-child(4) .fa {
    color: pink;
    animation-delay: 3s;
}

#DaysLove .fa-5x {
    font-size: 3em;
}



#Stories {
    background-color: var(--background);
    padding: 20px 20px 70px 20px;
}
.Search {
    margin-bottom: 30px;
}
.Search input {
    color: var(--color);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    background-color: var(--CardBG);
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}
.Search .Key {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin: 5px 0px;
}
.Search .Key button{
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #333;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 35px 0px 5px 0px;
    background-size: cover;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
/* f43d7b */
.Search .Key button:nth-child(1) {
    color: pink;
    background-image: url(https://graph.facebook.com/100074217488487/picture?type=large&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
}
.Search .Key button:nth-child(2) {
    color: #A6E4FF;
    background-image: url(https://graph.facebook.com/100045640179308/picture?type=large&access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662);
}
.Search .Key button:nth-child(3) {
    color: #05b6e2;
    background-image: url(/Data/IMG/BTNTEST.jpg);
}
.Search .Key button:nth-child(4) {
    color: #f43d7b;
    background-image: url(/Data/IMG/2021BTN.jpg);
    background-position-y: -10px;
}
.post {
    background-color: var(--CardBG);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.post__author {
    display: grid;
    grid-template-columns: 60px auto;
    text-align: center;
    margin-bottom: 10px;
}
.post__author--avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #00c3ff;
} 
.post__author div {
    text-align: left;
    padding: 5px 0;
}
.post__author div .post__author--name {
    font-size: 18px;
    font-weight: bold;
}
.post__author div div{
    display: grid; 
    grid-template-columns:  50% 50%;
    padding: 0;
}
.post__author div div .post__date {
    font-size: 14px;
    margin: auto 0;
}
.post__tag {
    font-size: 10px;
    font-weight: bold;
    background-color: pink;
    color: #000;
    padding: 2px 5px;
    border-radius: 2px;
}
.Emoji {
    margin-bottom: 5px;
}
.post__body {
    text-align: left;
}
.post__body img, .post__body video {
    width: 100%;
    border-radius: 5px;
}
.btn--view {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    background-color: var(--CardBG);
    border: none;
}


#Setting, #Events , #Games {
    padding: 10px 20px 60px 20px;
}

.Card {
    width: calc(100% - 20px);
    margin: auto;
    padding: 10px ;
    background-color: var(--CardBG);
    border-radius: 10px;
    margin: 10px 0;
}
.Card h1 {
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 15px;
}

.DarkModeD {
    position: fixed;
    top: 0;
    right: 20px;

}
.DarkModeD .Line {
    height: 20px;
    width: 3px;
    background-color: var(--Line);
    margin: auto;
}
@keyframes Line {
   0% {
        height: 20px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 20px;
    }
}

.DarkModeD .Light {
    color: var(--Light);
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: var(--Line);
}
#dark-mode-toggle {
    margin: 10px auto;
}
.SSkin {
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    overflow-x: auto;
    margin: 5px 0;
}

.SBackground {
    display: grid;
    grid-template-columns: 50% 50% 50% 50% 50%;
    overflow-x: auto;
    margin: 5px 0;
}


.SCard input[type="radio"] {
    display: none;
  }
.SCard img {
    background-color: var(--SCardIMG);
    height: 250px;
    padding: 5px;
    border-radius: 10px;
  }
.SCard input[type="radio"]:checked + img {
    background-color: pink;
  }

.Card .Block select {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

/* Thêm 1 Bài + 25% */
.SMusic {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25% 25% 25%;
    gap: 20px;
    overflow-x: auto ;
}

.SCardM input[type="radio"] {
    display: none;
  }
.SCardM img {
    background-color: var(--SCardIMG);
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
}
.SCardM p {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}
.SCardM input[type="radio"]:checked + img {
    background-color: pink;
  }

#Games .Card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #00c3ff;
}
.UploadPost button {
    font-size: 20px;
    color: var(--color);
    background-color: var(--background);
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 2px solid var(--color);
}