@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Wix+Madefor+Display:wght@500&display=swap');

:root {
    --BodyCL: #ffffff;
    --HeadCL: #ff2655;

    --BodyBG: #ffc0cb;
    --TabBG: #111111;
    --CardBG: #111111;
    --CardBGHV: #2e2e2e;
    --StoryBG: #fa7f7f;
    --NewPost: #ff2655;
    --ButtonBG: #ff2655;
    --InputBG: transparent;

    --Male: rgb(0, 119, 255);
    --Female: #ff314d;
}

.dark-mode {
    --BodyBG: #000;
    --TabBG: #2e2e2e;
    --CardBG: #111;
    --StoryBG: #ff2655;
}

* {
    margin: 0;
}

body {
    overflow: hidden;
    touch-action: manipulation;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--BodyCL);
    background-color: var(--BodyBG);
}
.Info .Avatar img,
header .HeadApp h1 {
    cursor: url('/Data/IMG/Cur/cus.cur'), auto !important;
}

::-webkit-scrollbar-track{ 
    cursor: pointer;

	border-radius: 4px;
	background-color: var(--BodyBG);
}

::-webkit-scrollbar{   
    height: 5px;
	width: 10px;

}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: var(--ButtonBG);
}

#navbar {
    cursor: pointer;
    text-align: center;
    background-color: var(--HeadCL);
    position: fixed;
    bottom: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s;
    z-index: 2;
    animation: HieuUngnavbar 1s;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0);
}

#navbar i {
    color: var(--BodyCL);
    font-size: 16px;
    animation: HieuUng1 1s infinite;
}

@keyframes HieuUngnavbar {
    0% {
        bottom: -50px;
    }

    100% {
        bottom: 15px;
    }
}

@keyframes HieuUng1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.menu {
    bottom: 5px;
    display: block;
    position: fixed;
    right: 0;
    bottom: -100px;
    padding: 0 10px;
    margin: auto 0;
    width: 100%;
    border-radius: 20px;
    transition: bottom 0.3s;
    z-index: 1;
    box-sizing: border-box;
}



.Load {
    text-align: center;
}

.Load button {
    color: var(--BodyCL);
    font-size: 18px;
    width: 80px;
    height: 30px;
    background-color: var(--ButtonBG);
    border-radius: 10px;
    border: none;
}

.Block {
    display: block !important;
}


.Tab {
    background-color: var(--TabBG);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 5px 0;
    padding: 4px;
    border-radius: 20px;
}


.Tab .tablinks {
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}


.Tab .tablinks i {
    color: var(--HeadCL);
    font-size: 20px;

}

.Tab .tablinks.active {
    background-color: var(--ButtonBG);
}


.Tab .tablinks.active i {
    color: var(--BodyCL);
}


.tabcontent {
    display: none;
    padding-bottom: 20px;
}

.tabcontent img {
    max-width: 100%;
}

.tabcontent.show {
    display: block;
}

#Home {
    height: calc(100vh - 80px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Home .IMGBG {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    filter: opacity(0.8);
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 0px);
    background-image: url(/Data/Wallpaper/20.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.NewPost {
    max-height: 200px;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--NewPost);
    border-radius: 30px;
}

.NewPost .excerpt-audio-block {
    display: none;
}

.NewPost h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.NewPost p {
    margin-bottom: 10px;
}

.NewPost p:last-child {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0;
}

.CardCouple {
    width: 100%;
    margin: 20px 0;
}

.DaysLove {
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
    text-shadow: 2px 2px 2px var(--BodyBG);
    animation: heart 1.2s infinite alternate;
}

@keyframes heart {
    0% {
        scale: 0.9;
        text-shadow: 2px 2px 2px var(--BodyBG);
    }

    100% {
        text-shadow: 0px 0px 10px var(--HeadCL);
    }
}

.DaysLove #DaysLove {
    color: var(--HeadCL);
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 80px;
    text-align: right;
}

.DaysLove .Grid {
    margin: 20px 0 5px 0;
    display: grid;
    grid-template-rows: 40% 60%;
}

.DaysLove .Grid .DGrid {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.DaysLove .Grid .DGrid:first-child img {
    color: #ff2655;
    width: 30px;
    margin: 0 0 0 10px;
    animation: heart2 1.2s infinite alternate;
}

@keyframes heart2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        
    }
}

.DaysLove .Grid .DGrid:last-child {
    color: #ff6b8b;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.DaysLove2 {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    margin: 20px auto;
    padding: 0 50px;
}

.DaysLove2 .Num {
    margin: auto;
    background-color: var(--HeadCL);
    padding-bottom: 5px;
    border-radius: 10px;
    width: 50px;
    box-shadow: 2px 2px 10px 0px var(--CardBG);
}

.unit {
    font-size: 12px;
    display: block;
}

.number {
    font-size: 22px;
    font-weight: bold;
}

.Couple {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.Couple .Heart {
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding-bottom: 30px;
}

.Couple .Heart.large {
    transform: scale(1.6);

}

.Heart {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Heart.large {
    transform: scale(2);
    animation: large 1.2s infinite;
}

@keyframes large {
    0% {
        opacity: 0.8;
    }
}

.CoupleChat {
    display: none;
    position: absolute;
    bottom: 285px;
    padding: 10px 20px;
    max-height: 170px;
    width: calc(100% - 64px);
    margin: 0 10px;
    border-radius: 20px;
    background-color: var(--CardBG);
    border: 2px solid var(--BodyCL);
}

.CoupleChat h1 {
    font-size: 18px;
    margin: 0;
}

.Couple .Heart img {
    width: 40px;
    animation: heart3 1.2s infinite alternate;
}

@keyframes heart3 {
    0% {
        scale: 1.2;
        opacity: 0.8;
    }
}

.Couple .Info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ff2655;
}

.Info.Male .Name {
    color: var(--Male);
    text-shadow: 0px 2px 10px  var(--Male);
}

.Info.Female .Name {
    color: var(--Female);
    text-shadow: 0px 2px 10px  var(--Female);
}

.Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Info .Age {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    width: 70px;
    padding: 3px 0;
    margin: 5px auto;
    border-radius: 20px;
}


.Info.Male .Avatar img {
    border: 3px solid var(--Male);
    box-shadow: 0px 0 40px 10px var(--Male);
}

.Info.Male .Age {
    background-color: var(--Male);
    box-shadow: 0px 0 10px 2px var(--Male);
}

.Info.Female .Avatar img {
    border: 3px solid var(--Female);
    box-shadow: 0px 0 40px 10px var(--Female);
}

.Info.Female .Age {
    background-color: var(--Female);
    box-shadow: 0px 0 10px 2px var(--Female);
}

#rss-feed {
    padding: 10px;
    padding-bottom: 50px;
}

.Feed {
    color: #fff;
    background-color: #111;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.Feed:first-child {
    margin-top: 0;
}

.Feed:last-child {
    margin-bottom: 0;
}

.Feed.Active {
    background-color: #252525;
}

.Head .Author {
    display: flex;
}

.Head .Author .Avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Head .Author .Info {
    margin-left: 10px;
}

.Head .Author .Info .Name {
    font-size: 20px;
    font-weight: bold;
}

.Head .Author .Info .Time {
    font-size: 14px;
}

.wp-block-video video {
    max-width: 100%;
    margin: 5px 0;
}

.Body .Status {
    padding: 5px;
}

.Body .Status h1 {
    font-size: 20px;
    margin-bottom: 2px;
}

.figure {
    margin: 5px 0;
}

.Body .Status img,
.Body .Status video {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.Body .Status video {
    background-color: var(--HeadCL);
}


.Body .Status .Content .wp-smiley {
    border: none;
}

.Status .wp-block-gallery {
    column-count: 3 !important;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    gap: 10px;
    margin: 5px 0;
}

.Status .wp-block-image {
    margin: 5px 0;
}

.Status .wp-block-gallery .wp-block-image {
    margin: 0 auto;
    text-align: center;
}


.Bottom {
    width: 100%;
    margin: 10px 0;
}

.Bottom .RepMess {
    display: grid;
    grid-template-columns: 50px auto 50px 50px;
    background-color: #000;
    border-radius: 10px;
}

.Bottom .RepStory {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Bottom .RepStory textarea {
    width: 100%;
    min-height: 20px;
    padding: 5px;
    font-size: 18px;
    color: var(--BodyCL);
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyCL);
    box-sizing: border-box;
    border-radius: 0;
    border-left: 0;
}

.Bottom .RepStory textarea:focus {
    outline: none;
}

.RepMess .Func {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Female);
    ;
    border: 2px solid var(--BodyCL);
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

.RepMess .Func:nth-child(1) {
    border: 2px solid var(--BodyCL);
    border-right: 0;
    background-color: var(--BodyBG);
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.RepMess .Func:nth-child(3) {
    background-color: var(--Male);
    border-left: 2px solid var(--BodyCL);
    border-left: 0;
    border-radius: 0;
    box-sizing: border-box;
}




.write {
    position: fixed;
    bottom: 20px;
    right: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--TabBG);
    height: 40px;
    width: 40px;
    border-radius: 16px;
}

.write i {
    font-size: 20px;
    color: var(--HeadCL);
}

#CustomPIC {
    background-color: var(--CardBG);
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
}

.file-input {
    margin-bottom: 10px;
}

.file-input__input {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    width: calc(100% - 38px);
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 30px 12px;
    margin: auto;
    background-color: var(--ButtonBG);
    border: 2px solid var(--BodyCL);
}

.file-input__label i {
    font-size: 30px;
}

#CustomPIC button {
    color: var(--BodyCL);
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyCL);
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0;
    width: 80px;
    border-radius: 10px;
    margin: auto;
}

#CustomPIC button:last-child {
    width: 120px;
}




#Currency a {
    font-size: 14px;
    font-weight: bold;
    color: var(--ButtonBG);
    text-decoration: none;
}

.DownloadApp {
    cursor: url('/Data/IMG/Cur/cus.cur'), auto;
    display: flex;
    margin: 10px;
    text-align: center;
    background-color: var(--CardBG);
    padding: 10px;
    border-radius: 20px;
}

.DownloadApp img {
    margin: auto;
    width: 100%;
    border-radius: 14px;
}

.DownloadApp h1 {
    color: #fa7f7f;
    font-size: 22px;
    text-transform: uppercase;
}

.SettingDIV {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.SettingBlock {
    cursor: pointer;
    margin: 5px auto;
    width: calc(50% - 10px);
    text-align: center;
    background-color: var(--CardBG);
    padding: 15px 5px;
    border-radius: 20px;
    box-sizing: border-box;
}

.SettingBlock:hover {
    background-color: var(--CardBGHV);
}

.SettingBlock.Center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.SettingBlock.Active {
    cursor: default;
    background-color: var(--ButtonBG);
    display: none;
    width: calc(100% - 10px);
    padding: 10px;
}

.SettingBlock.Active h1 {
    margin: 0 0 10px 0;

}

.SettingBlock i {
    font-size: 35px;
}




.SettingBlock h1 {
    font-size: 20px;
    margin: 5px 0 2px 0;
}

.SettingBlock p {
    color: #a8a8a8;
    font-size: 12px;
}

.SettingBlock input[type="color"] {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #eee;
    padding: 0 2px;
}

.SettingBlock input[type="color"]::-webkit-color-swatch {
    margin: 0;
    border: none;
    border-radius: 10px;
}

.progress-container {
    width: calc(100% - 14px);
    height: 20px;
    background-color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
    border-radius: 10px;
    margin: 10px 5px;
}

.progressbar {
    width: 0%;
    height: 100%;
    background-color: var(--ButtonBG);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

#Dowloading button {
    display: none;
    color: var(--BodyCL);
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyCL);
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0;
    width: 150px;
    border-radius: 10px;
    margin: auto;
}

#Dowloading button:hover {
    color: var(--ButtonBG);
    background-color: var(--BodyBG);
    border: 2px solid var(--ButtonBG);
}


#Redeem #codeOutput {
    overflow: hidden;
    font-size: 18px;
    position: relative;
}

.Redeem {
    color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Redeem input {
    color: var(--ButtonBG);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    width: 70%;
    background-color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
    border-radius: 10px;
    margin-right: 10px;
}

.Redeem button {
    color: var(--BodyCL);
    background-color: var(--ButtonBG);
    border: 2px solid var(--BodyCL);
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0;
    width: 30%;
    border-radius: 10px;
}

.Redeem button:hover {
    color: var(--ButtonBG);
    background-color: var(--BodyBG);
    border: 2px solid var(--ButtonBG);
}

#Redeem #codeOutput h1 {
    margin-top: 10px;
}

#Redeem #codeOutput img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
}

#Redeem #codeOutput .shop img {
    width: 80px;
    border-radius: 50%;
    margin: 0 5px;
    border: 4px solid var(--BodyCL);
}

.Folders {
    background-color: var(--BodyBG);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.Folders img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--ButtonBG);
}

.Folders h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--ButtonBG);
}

.Folders button {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 10px;
    color: var(--ButtonBG);
    background-color: var(--CardBG);
    border: 2px solid var(--ButtonBG);
}

.Folders button:hover {
    color: var(--BodyCL);
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyCL);
}

.Folders button span {
    font-size: 12px;
    color: var(--BodyCL);
    margin-left: 5px;
}

.YoutubeMp3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.YoutubeMp3 input {
    color: var(--ButtonBG);
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 40%;
    background-color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
    border-radius: 10px;
}

.YoutubeMp3 input::placeholder {
    font-size: 14px;
}

.YoutubeMp3 select {
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    color: var(--BodyBG);
    background-color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
    font-weight: bold;
    padding: 7px 2px;
    width: 20%;
    border-radius: 10px;
}

.YoutubeMp3 button {
    cursor: pointer;
    color: var(--BodyCL);
    background-color: var(--ButtonBG);
    border: 2px solid var(--BodyCL);
    font-weight: bold;
    padding: 7px 2px;
    width: 20%;
    border-radius: 10px;
}

.YoutubeMp3 button:nth-child(2) {
    color: var(--BodyBG);
    background-color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
    width: 10%;
}

.YoutubeMp3 button i {
    font-size: 16px;
}

.YoutubeMp3 button:hover {
    color: var(--ButtonBG);
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyBG);
}

#YoutubeMp3 iframe {
    margin: 10px 0;
    height: 530px;
    width: 100%;
    border: 2px solid var(--BodyCL);
    border-radius: 10px;
}

#YoutubeMp3 p {
    font-size: 14px;
    color: var(--BodyCL);
    margin: 10px 0;
}

.YoutubeMp3 p {
    font-size: 16px;
    color: var(--BodyCL);
}

#outLinkYTB {
    font-size: 14px;
}

.ColorPick {
    background-color: var(--CardBG);
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid var(--BodyCL);
}

.ColorPick h1 {
    margin: 0 !important;
}

#CustomColor button {
    font-size: 18px;
    font-weight: bold;
    color: var(--BodyCL);
    background-color: var(--ButtonBG);
    width: 100%;
    padding: 12px 0;
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid var(--BodyCLs);
}

/* .SettingBlock.Active .ColorPick:nth-child(2) {
    background-color: var(--BodyBG);
}
.SettingBlock.Active .ColorPick:nth-child(3) {
    background-color: var(--BodyCL);
}
.SettingBlock.Active .ColorPick:nth-child(4) {
    background-color: var(--HeadCL);
}
.SettingBlock.Active .ColorPick:nth-child(5) {
    background-color: var(--StoryBG);
}
.SettingBlock.Active .ColorPick:nth-child(6) {
    background-color: var(--TabBG);
}
.SettingBlock.Active .ColorPick:nth-child(7) {
    background-color: var(--CardBG);
}
.SettingBlock.Active .ColorPick:nth-child(8) {
    background-color: var(--ButtonBG);
} */

#Games {
    text-align: center;
}

#Games #DiemDanh {
    color: var(--HeadCL);
    font-size: 100px;
}

#Games button {
    cursor: pointer;
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: var(--BodyBG);
    background-color: var(--ButtonBG);
    border: none;
    border-radius: 10px;
    margin: 2px 0 10px 0;
}

#Games button:hover {
    color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
}


.tabcontent .head {
    font-size: 22px;
    text-align: center;
    color: var(--HeadCL);
    margin-bottom: 10px;
}

#Security {
    color: var(--BodyBG);
}

.Security {
    padding: 10px 20px;
    text-align: center;
}

.Security .Option {
    text-align: left;
    margin-bottom: 10px;
}

.Security button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: var(--BodyBG);
    background-color: var(--ButtonBG);
    border: 2px solid var(--BodyBG);
    border-radius: 10px;
    margin: 2px 0 10px 0;
}

.Security button:hover {
    color: var(--BodyCL);
    border: 2px solid var(--BodyCL);
}

.Security .BTN50 {
    display: flex;
    flex-wrap: wrap;
}

.Security .BTN50 button {
    cursor: pointer;
}

.Security .BTN50 button:first-child {
    width: calc(20% - 2px);
    margin-right: 2px;
    color: var(--ButtonBG);
    background-color: var(--BodyBG);
    border: 2px solid var(--ButtonBG);
}
.Security  i {
    font-size: 24px;
}

.Security .BTN50 button:last-child {
    width: calc(80% - 2px);
    margin-left: 2px;
}

.Security .BTN50 button:first-child:hover {
    color: var(--BodyBG);
    background-color: var(--BodyCL);
    border: 2px solid var(--ButtonBG);
}


.Security textarea {
    color: var(--ButtonBG);
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0 0 0;
    width: calc(100% - 26px);
    height: 120px;
    overflow: auto;
    background-color: var(--BodyBG);
    border: 2px solid var(--BodyBG);
    border-radius: 10px;
}

.Security label {
    cursor: pointer;
    color: var(--BodyBG);
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: middle;
    position: relative;
    top: -6px;
}


.Security input[type="radio"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-color: var(--BodyBG);
}

.Security input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--ButtonBG);
}

.Security input[type="radio"]:hover {
    border-color: #111;
}

.Security select {
    color: var(--BodyBG);
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--BodyBG);
    padding: 10px;
    cursor: pointer;
}


.Security select option {
    color: var(--BodyCL);
    background-color: var(--CardBG);
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.player {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: var(--CardBG);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid var(--CardBG);
}
.dashboard header h4 {
    font-size: 14px;
}
.dashboard header h2 {
    text-transform: capitalize;
    font-size: 18px;
    color: var(--ButtonBG);
}
.dashboard .BlockDashboard {
    display: grid;
    grid-template-columns:  80px auto;
    gap: 10px;
}

.Live {
    margin: 5px 0;
}
.Live .LiveBTN {
    cursor: pointer;
    color: var(--BodyCL);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--BodyBG);
    border-radius: 5px;
    border: none;
    padding: 5px ;
}
.Live .LiveBTN i {
    font-size: 10px;
}
.Live .LiveBTN.active {
    background-color: var(--ButtonBG);
}
.Live #LiveNoti {
    font-weight: bold;
    margin: 3px;
}
.CDBlock {
    display: block;
    align-items: center;
}
.cd {
    width: 80px;
}

/* .player.playing .cd-thumb {
    box-shadow: 0 0 0 2px var(--ButtonBG);
} */
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    background-color: var(--BodyBG);
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.control .btn {
    cursor: pointer;
    color: var(--BodyCL);
    padding: 12px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--ButtonBG);
}

.control .btn-toggle-play {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 24px;
    color: var(--BodyCL);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ButtonBG);
}


.progress {
    cursor: pointer;
    width: 100%;
    appearance: none;
    height: 10px;
    background: var(--BodyBG);
    outline: none;
    border-radius: 8px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--ButtonBG);
    cursor: pointer;
  }

/* PLAYLIST */
.playlist {
    margin-top: 250px;
    padding: 12px 12px 30px 12px;
}
.Album {
    margin-top: 400px;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 5px 0;
    margin: 5px 0 0 0 ;
    box-sizing: border-box;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
  }
  
  .Album button {
    cursor: pointer;
    flex: 1; /* Thay đổi width thành flex */
    text-transform: capitalize;
    color: var(--BodyCL);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--CardBGHV);
    border-radius: 5px;
    border: none;
    margin: 0 2px;
    padding: 10px 20px;
  }
  .Album .album-btn.active {
    color: var(--BodyBG);
    background-color: var(--ButtonBG);
  }
  

.song {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--CardBG);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: var(--ButtonBG);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    text-transform: capitalize;
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    font-size: 20px;
}
.song .option a {
    color: var(--BodyCL);
}

.Event {
    padding: 0 10px 20px 10px;
}
.Event a {
    text-decoration: none;
}
.Event .Comming {
    background-image: url(/Events/Kiss.png);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--ButtonBG);
    height: 200px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items:end;
    justify-content: left;
    padding-bottom: 10px;
    border-radius: 10px;
}
.Event .HeadComing {
    text-align: left;
    color: var(--BodyCL);
    background-color: var(--HeadCL);
    border: 2px solid var(--BodyCL);
    border-left: 0;
    padding: 5px 10px 10px 10px ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Event .HeadComing h1 {
    font-size: 20px;
    text-transform: capitalize;
}
.Event .Upnext {
    background-size: cover;
    background-position: 50% 50%;
    display: grid;
    grid-template-columns: auto 60px;
    gap: 5px;
    background-color: var(--CardBG);
    box-sizing: border-box;
    margin: 5px 0;
    border-radius: 10px;
    padding: 8px;
}
.Event .Upnext .Content {
    color: var(--BodyCL);
    text-shadow: 5px 4px 8px black, 0 2px 5px black;
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.Event .Upnext .Countdown  {
    background-color: #00000080;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
}
.Event .Upnext .Countdown h1 {
    font-size: 25px;
}

.Event .Upnext h1 {
    font-size: 24px;
}
.Event .Upnext p {
    font-size: 14px;
    font-weight: bold;
}
.Frame {
    text-align: center;
    border-radius: 5px;
    margin: 10px;
  }
  .Frame select {
    color: var(--BodyCL);
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--BodyCL);
    padding: 10px;
    cursor: pointer;
  }

  .Frame select option {
    background-color: var(--BodyBG);
  }
  .Frame button{
    width: 100%;
    padding: 10px 20px;
    background-color: #f9e5e5;
    color: var(--ButtonBG);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px auto;
    box-sizing: border-box;
  }
  
  .Frame button:hover {
    color: var(--ButtonBG);
    background-color: #f9e5e5;
  }
  
  .Frame #outpic {
    border-radius: 20px;
    box-sizing: border-box;
  }
  .Frame #outpic img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
  }
  .Frame #outbtnDownload {
    display: none;
  }